In [145]:
import pandas as pd

In [146]:
stats_file = "/Users/Max/Dropbox/Uni/Master/SSPJ/ssp-dtw-mean-optimization/reference/DataSummary.csv"

In [147]:
df_stats = pd.read_csv(stats_file)

In [148]:
df_stats.columns

Index(['ID', 'Type', 'Name', 'Train ', 'Test ', 'Class', 'Length', 'ED (w=0)',
       'DTW (learned_w) ', 'DTW (w=100)', 'Default rate', 'Data donor/editor'],
      dtype='object')

In [149]:
df_stats['Samples'] = df_stats['Train '] + df_stats['Test ']

columns = ['Name', 'Length', 'Samples', 'Class']
df_stats.drop(columns=[c for c in list(df_stats.columns) if c not in(columns)], inplace=True)
df_stats = df_stats[columns]
df_stats

                     Name Length  Samples  Class
0                   Adiac    176      781     37
1               ArrowHead    251      211      3
2                    Beef    470       60      5
3               BeetleFly    512       40      2
4             BirdChicken    512       40      2
..                    ...    ...      ...    ...
123   SemgHandMovementCh2   1500      900      6
124    SemgHandSubjectCh2   1500      900      5
125  ShakeGestureWiimoteZ   Vary      100     10
126        SmoothSubspace     15      300      3
127                   UMD    150      180      3

[128 rows x 4 columns]

In [150]:
df_stats = df_stats[df_stats.Name.isin(["Adiac", "Beef", "CBF", "ChlorineConcentration", "Coffee", "ECG200", "ECG5000", "ElectricDevices", "FaceAll", "FaceFour", "FiftyWords", "Fish", "GunPoint", "Lightning2", "Lightning7", "OSULeaf", "OliveOil", "PhalangesOutlinesCorrect", "SwedishLeaf", "SyntheticControl", "Trace", "TwoPatterns", "Wafer", "Yoga"])].set_index('Name')
df_stats

                         Length  Samples  Class
Name
Adiac                       176      781     37
Beef                        470       60      5
CBF                         128      930      3
ChlorineConcentration       166     4307      3
Coffee                      286       56      2
ECG200                       96      200      2
ECG5000                     140     5000      5
ElectricDevices              96    16637      7
FaceAll                     131     2250     14
FaceFour                    350      112      4
FiftyWords                  270      905     50
Fish                        463      350      7
GunPoint                    150      200      2
Lightning2                  637      121      2
Lightning7                  319      143      7
OliveOil                    570       60      4
OSULeaf                     427      442      6
PhalangesOutlinesCorrect     80     2658      2
SwedishLeaf                 128     1125     15
SyntheticControl             60      600      6
Trace                       275      200      4
TwoPatterns                 128     5000      4
Wafer                       152     7164      2
Yoga                        426     3300      2

In [151]:
print(df_stats.to_latex())

\begin{tabular}{llrr}
\toprule
{} & Length &  Samples &  Class \\
Name                     &        &          &        \\
\midrule
Adiac                    &    176 &      781 &     37 \\
Beef                     &    470 &       60 &      5 \\
CBF                      &    128 &      930 &      3 \\
ChlorineConcentration    &    166 &     4307 &      3 \\
Coffee                   &    286 &       56 &      2 \\
ECG200                   &     96 &      200 &      2 \\
ECG5000                  &    140 &     5000 &      5 \\
ElectricDevices          &     96 &    16637 &      7 \\
FaceAll                  &    131 &     2250 &     14 \\
FaceFour                 &    350 &      112 &      4 \\
FiftyWords               &    270 &      905 &     50 \\
Fish                     &    463 &      350 &      7 \\
GunPoint                 &    150 &      200 &      2 \\
Lightning2               &    637 &      121 &      2 \\
Lightning7               &    319 &      143 &      7 \\
OliveOil                 &    570 &       60 &      4 \\
OSULeaf                  &    427 &      442 &      6 \\
PhalangesOutlinesCorrect &     80 &     2658 &      2 \\
SwedishLeaf              &    128 &     1125 &     15 \\
SyntheticControl         &     60 &      600 &      6 \\
Trace                    &    275 &      200 &      4 \\
TwoPatterns              &    128 &     5000 &      4 \\
Wafer                    &    152 &     7164 &      2 \\
Yoga                     &    426 &     3300 &      2 \\
\bottomrule
\end{tabular}

In [161]:
df_stats['Length'] = pd.to_numeric(df_stats['Length'])
df_stats['Samples'] = pd.to_numeric(df_stats['Samples'])
df_stats['Class'] = pd.to_numeric(df_stats['Class'])

In [163]:
df_stats_meta = df_stats.agg(['mean', 'median', 'min', 'max'])
print(df_stats_meta.to_latex(float_format="{:0.2f}".format))
#df_stats_meta

\begin{tabular}{lrrr}
\toprule
{} &  Length &  Samples &  Class \\
\midrule
mean   &  255.17 &  2191.71 &   8.12 \\
median &  171.00 &   690.50 &   4.00 \\
min    &   60.00 &    56.00 &   2.00 \\
max    &  637.00 & 16637.00 &  50.00 \\
\bottomrule
\end{tabular}

In [176]:
df_algos =  pd.DataFrame.from_dict({
    "ssg-1000-1": {"Method": "SSG", "n_{coverage}": 1000, "batch size": 1},
    "ssg-1000-10": {"Method": "SSG", "n_{coverage}": 1000, "batch size": 10},
    "adam-1000-1": {"Method": "SAdam", "n_{coverage}": 1000, "batch size": 1},
    "adam-1000-10": {"Method": "SAdam", "n_{coverage}": 1000, "batch size": 10}})

df_algos = df_algos.transpose()
df_algos

             Method n_{coverage} batch size
ssg-1000-1      SSG         1000          1
ssg-1000-10     SSG         1000         10
adam-1000-1   SAdam         1000          1
adam-1000-10  SAdam         1000         10

In [175]:
print(df_algos.to_latex())

\begin{tabular}{llll}
\toprule
{} & Method & n\_\{coverage\} & batch size \\
\midrule
ssg-1000-1   &    SSG &         1000 &          1 \\
ssg-1000-10  &    SSG &         1000 &         10 \\
adam-1000-1  &  SAdam &         1000 &          1 \\
adam-1000-10 &  SAdam &         1000 &         10 \\
\bottomrule
\end{tabular}